
.icon-logo:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-clouds-flash-alt:before { content: '\e802'; } /* '' */
.icon-rocket:before { content: '\e803'; } /* '' */
.icon-rebel:before { content: '\e804'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-music:before { content: '\e806'; } /* '' */
.icon-anchor:before { content: '\e807'; } /* '' */